[Desktop Entry]
Name=fedora-steambox
Exec=toolbox run --container=fedora-steambox steam-wrapper
Icon=com.valvesoftware.Steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
